/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: #222222;
     font-family: 'Roboto', sans-serif;
     font-size: 1 rem;
     line-height: 1.5;
     
}

section {
     display: block;
}
/******************************************
/* LAYOUT
/*******************************************/

.section {
     padding: 3rem 1.5rem;
}

.textpad {
     padding: 1rem 0 0 0;
}

.textpadder {
     padding: 1.5em 0 0 0;
}

.container {
     margin: 0 auto;
     position: relative;
}

.box {
     background-color: #fff;
     border-radius: 6px;
     box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
     color: #4a4a4a;
     display: block;
     padding: 1.25rem;
}

.contentWrapper {
     overflow-x: auto;
}

.title {
     color: #363636;
     font-size: 2rem;
     font-weight: 600;
     line-height: 1.125;
}

.subtitle {
     color: #4a4a4a;
     font-size: 1.25rem;
     font-weight: 400;
     line-height: 1.25;
}

.callsandendpoints {
     font-size: 1.25rem;
}

.bordered {
     color: #363636;
}

table {
     border-collapse: collapse;
     border-spacing: 0;
     border: 3px;
}

.darktext {
     color: #363636 !important;
}

.content:not(:last-child) {
     margin-bottom: 1.5rem;
}

.content ul {
     list-style: disc outside;
     margin-left: 2em;
     margin-top: 1em;
}

a {
     color:#96b7eb;
}

.table th {
     text-align: left;
}

.table td, .table th {
     border: 1px solid #dbdbdb;
     padding: .5em .75em;
     vertical-align: top;
}

.table.is-bordered tr:last-child th {
     border-bottom-width: 1px;
}

.bold {
     font-weight:bold; 
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (min-width: 1088px) {
     .container {
       max-width: 960px;
       width: 960px;
     }
   }

@media screen and (max-width: 1088px) {
     .table td, .table th {
          display: block;
     }
   }
